



*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root{
    --colorBack1:#E9EED9 ;
    --colorBack2:#243642;

    --colorTxt1:#E4E0E1;
    ---colorTxt2:#3B3030;

}

body{
    background-color: #00010D;
    height: 200vh;
    overflow-x: hidden;
}