


.ct_banner{
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    height: 40rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner_midia_all{
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--colorTxt1);
    /* top: 5rem;
    left: 10rem; 
}

.ct_button_box{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.ct_button_box button{
    height: 100%;
    padding: 0.5rem;
    width: 10rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid var(--colorBack1);
    color: var(--colorTxt1);
}